<!DOCTYPE html>
<html>
<head>
	<script>
		$(function() {
			var table = makeDataTable('#docs', {
				table: 'Product',
				select: 'product.html',
				columns: [
					'ProductName',
					'ProductDescription',
					'#UnitPrice',
					'Code/Vat code',
					'AccountName/Account',
					'Unit'
				]
			});
			//{{#if ReadWrite}}
			addButton('New product', 'product.html?id=0');
			//{{/if}}
		});
	</script>
</head>
<body>
<table id="docs" cellspacing="0" width="100%"></table>
</body>
</html>