<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net472" />
  <package id="CodeFirstWebFramework" version="1.1.7" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net472" />
  <package id="Markdig" version="0.15.4" targetFramework="net472" />
  <package id="Mono.Data.Sqlite.Portable" version="1.0.3.5" targetFramework="net45" />
  <package id="mustache-sharp" version="1.0.0" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="Vsxmd" version="1.4.2" targetFramework="net472" developmentDependency="true" />
</packages>