 <form method="POST" enctype="multipart/form-data" action="/Admin/ImportFile">
	 <table>
	 	<tr><td>File to import</td><td><input type="file" name="file" /></td></tr>
		<tr><td>Date Format</td><td><select name="dateFormat">
			<option value="">Local format</option>
			<option value="MM/dd/yyyy">US format (MM/dd/yyyy)</option>
			<option value="dd/MM/yyyy">UK format (dd/MM/yyyy)</option>
		</select></td></tr>
		<tr><td>Allow Imbalanced Transactions</td><td><select name="allowImbalancedTransactions">
			<option value="false" selected="selected">No</option>
			<option value="true">Yes (imbalances will be posted to account "Imbalanced Transactions")</option>
		</select></td></tr>
		<tr><td colspan="2">
			<button type="submit">Import</button>
			<button type="button" href="/">Cancel</button>
		</td></tr>
	 </table>
 </form>
