<head>
	<style>
		tr.due {
			color: red;
		}
	</style>
<script>
var i = sessionStorage.length;
while(i--) {
var key = sessionStorage.key(i);
if(/^DataTables_/.test(key)) {
	sessionStorage.removeItem(key);
}
}
$(function() {
	var record = '!{{Record}}';
	var form = makeListForm('#scheduleTable', {
		table: 'Schedule',
		select: '/home/job.html',
		data: record.schedule,
		readonly: '!{{ReadOnly}}',
		columns: [
			'/ActionDate',
			{
				data: 'RepeatType',
				heading: 'Repeat',
				type: 'select',
				selectOptions: repeatSelectOptions
			},
			'RepeatFrequency',
			'Task',
			{
				data: 'Post',
				heading: 'Type',
				type: 'select',
				selectOptions : [
					{ id: 0, value: 'Task - tick when done' },
					{ id: 1, value: 'Memorised transaction - tick to post' }
					]
			},
			{
				name: 'do',
				heading: 'Do(ne)',
				type: 'checkboxInput'
			}

		]
	});
	form.bind('changed.field', function(e, newValue, rowData, col, input) {
		if(col.name == 'do') {
			unsavedInput = false;
			postJson(getGoto('/home/jobaction.html?id=' + rowData.idSchedule), function (d) {
				postJson('/home/defaultschedulelisting.html', function(d) {
					form.dataReady(d);
				});
			});

		}
	});
	if(record.banking.length) {
		makeListForm('#bankingTable', {
			table: 'Account',
			select: '/banking/detail.html',
			data: record.banking,
			columns: [
				'AcctType',
				'AccountName',
				'AccountDescription',
				'#Balance'
			]
		});
	}
	if(record.investments.length) {
		makeListForm('#investmentsTable', {
			table: 'Account',
			select: '/investments/detail.html',
			data: record.investments,
			columns: [
				'AccountName',
				'AccountDescription',
				'#CashBalance',
				'#Value'
			]
		});
	}
	if(record.customer.length) {
		makeListForm('#customerTable', {
			table: 'NameAddress',
			select: '/customer/detail.html',
			data: record.customer,
			columns: [
				'Name',
				'Telephone',
				'@Email',
				'Contact',
				'#Outstanding'
			]
		});
	}
	if(record.supplier.length) {
		makeListForm('#supplierTable', {
			table: 'NameAddress',
			select: '/supplier/detail.html',
			data: record.supplier,
			columns: [
				'Name',
				'Telephone',
				'@Email',
				'Contact',
				'#Outstanding'
			]
		});
	}
	$('td.n').width(100);
});

</script>
</head>
<body>
{{#if NewVersion}}
<h3 class="noprint">A new version of AccountServer is available</h3>
<a href="{{NewVersion}}">Click here to download the new version</a>
{{/if}}
<h3 class="noprint">To do</h3>
<table id="scheduleTable" class="noprint"></table>
<h3>Banking</h3>
<table id="bankingTable" style="width:100%"></table>
{{#if Record.investments.Count}}
<h3>Investments</h3>
<table id="investmentsTable" style="width:100%"></table>
{{/if}}
{{#if Record.customer.Count}}
<h3>Customers</h3>
<table id="customerTable" style="width:100%"></table>
{{/if}}
{{#if Record.supplier.Count}}
<h3>Suppliers</h3>
<table id="supplierTable" style="width:100%"></table>
{{/if}}
<h3>Net Worth : {{NetWorth:#,##0.00}}</h3>
</body>