<head>
	<script>
$(function() {
	makeDataTable('#docs', {
		table: 'Schedule',
		select: '/home/job.html',
		columns: [
			'/ActionDate',
			'Task',
			{
				data: 'RepeatType',
				type: 'select',
				selectOptions: repeatSelectOptions
			},
			'RepeatFrequency'
		]
	});
});
	</script>
</head>
<body>
<table id="docs" cellspacing="0" width="100%"></table>
</body>
