<div id="chartContainer" style="position: relative; width:100%; height: 80%;"><canvas id="chart"></canvas></div>
<div id="settingsDialog" title="Chart Settings">
	<table id="settings">
		<tr>
			<td colspan="2">
				<table id="names"></table>
			</td>
		</tr>
		<tr>
			<td>
				<div class="title">Settings</div>
				<table id="options"></table>
			</td>
			<td>
				<div class="title">Filters</div>
				<table id="filters"></table>
			</td>
		</tr>
	</table>
</div>
