<head>
</head>
<body>
<ul>
	{{#each ChartList}}
	<li><span class="header">{{{Key}}}</span>
		<ul>
			{{#each Value}}
			<li><a href="/charts/{{ReportType}}.html?id={{idReport}}">{{{ReportName}}}</a></li>
			{{/each}}
		</ul>
	</li>
	{{/each}}
</ul>
</body>
</html>