<!DOCTYPE html>
<html>
<head lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href="/libs/jquery-ui.structure.css" rel="stylesheet" type="text/css" />
	<link href="/libs/jquery-ui.min.css" rel="stylesheet" type="text/css" />
	<link href="/libs/jquery.multiselect.css" rel="stylesheet" type="text/css" />
	<link href="/libs/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<script src="/libs/jquery.min.js" type="text/javascript"></script>
	<script src="/libs/underscore-min.js" type="text/javascript"></script>
	<script src="/libs/jquery-ui.min.js" type="text/javascript"></script>
	<script src="/libs/jquery.dataTables.min.js" type="text/javascript"></script>
	<script src="/libs/jquery.multiselect.js" type="text/javascript"></script>
	<script src="/libs/bowser.min.js" type="text/javascript"></script>
	<link id="defaultStyles" href="/default.css" rel="stylesheet" type="text/css" />
	<link href="/skin/{{Settings.Skin}}.css" rel="stylesheet" type="text/css" />
	<script src="/default.js" type="text/javascript"></script>
	<script src="/skin/{{Settings.Skin}}.js" type="text/javascript"></script>
	<title>{{Config.Filename}} - {{Settings.CompanyName}} - {{{Title}}}</title>
	{{Head}}
{{#if Record}}
	<script>
		function loadRecord() {
			return '!{{Record}}';
		}
	</script>
{{/if}}
</head>
<body>
<img id="menuicon" src="/images/menu.png" />
<div id="header">
{{#if Session.User}}<div class="loginuser">{{Session.User.Login}}</div>{{/if}}
<div id="heading">{{Config.Filename}} - {{{Settings.CompanyName}}} - {{{Title}}}</div>
<div id="menu1">&nbsp;
	<button id="home" href="/home/default.html">Home</button>
	<button id="customer" href="/customer/default.html">Customers</button>
	<button id="supplier" href="/supplier/default.html">Suppliers</button>
	<button id="banking" href="/banking/default.html">Banking</button>
	<button id="investments" href="/investments/default.html">Investments</button>
	<button id="accounting" href="/accounting/default.html">Accounting</button>
	<button id="members" href="/members/default.html">Members</button>
	<button id="reports" href="/reports/default.html">Reports</button>
	<button id="admin" href="/admin/default.html">Admin</button>
	<button target="help" href="/help/default.md">Help Contents</button>
	{{#if Help}}<button target="help" href="{{Help}}">Help</button>{{/if}}
</div>
<div id="menu2">&nbsp;{{#each Menu}}<button id="{{Id}}" href="{{Url}}"{{#if Disabled}} disabled="disabled"{{/if}}>{{Text}}</button>{{/each}}</div>
<div id="menu3">&nbsp;</div>
</div>
<div id="spacer"></div>
<div id="body">
<div id="message">{{Message}}&nbsp;</div>
{{Body}}
</div>
</body>
</html>