<head>{{#with Record}}
	<script>
		$(function() {
			var record = '!{{Record}}';
			var table = makeDataTable('#docs', {
				table: 'Document',
					select: function (row) {
						if(row.SecurityId)
							goto('/investments/security.html?id=' + row.SecurityId);
					},
				columns: [
					'SecurityName',
					{
						data: 'Price',
						type: 'double'
					},
					{
						data: 'Quantity',
						type: 'double'
					},
					'#Value',
					'#CostBasis',
					'#Change'
				]
			});
			if(record.idAccount) {
				//{{#if ReadWrite}}
				addButton('Buy', 'document.html?id=0&type=' + DocType.Buy + '&acct=' + record.idAccount);
				addButton('Sell', 'document.html?id=0&type=' + DocType.Sell + '&acct=' + record.idAccount);
				addButton('New withdrawal', '/banking/document.html?id=0&type=' + DocType.Withdrawal + '&acct=' + record.idAccount);
				addButton('New deposit', '/banking/document.html?id=0&type=' + DocType.Deposit + '&acct=' + record.idAccount);
				addButton('New transfer', 'transfer.html?id=0&acct=' + record.idAccount);
				addButton('Balance adjustment', 'balanceadjustment.html?id=0&acct=' + record.idAccount);
				//{{/if}}
				jumpButton('Detail', 'detail.html');
				actionButton('Audit').click(function () {
					goto('/reports/audithistory.html?id=' + record.idAccount + '&table=Accounts');
				});
			}
		});
	</script>
	{{/with}}
</head>
<body>
<table><tr><th>Cash balance</th><td>{{Record.CashBalance:0.00}}</td><th>Current cash balance</th><td>{{Record.CurrentBalance:0.00}}</td><th>Current value</th><td>{{Record.Value:0.00}}</td></tr></table>
<table id="docs" cellspacing="0" width="100%"></table>
</body>
