<form action="yearend.html" method="post" enctype="multipart/form-data">
	<p>This will update all current members amount due with the annual subscription for their
	membership type.</p>
	<p><input type="checkbox" value="1" name="clear" id="clear" /><label for="clear">Clear down all amounts due from last year</label>.
	If not checked, outstanding amounts from last year will be carried forward.</p>
	<button type="submit">Run year end</button>
</form>