
















<head>
	<script src="/report{{VersionSuffix}}.js" type="text/javascript"></script>
<script>
$(function() {
	var report = initialiseReport('!{{Record}}', function(row) {
		return openDocument(row.recordId, row.recordId.idAccount);
	});
});
</script>
</head>
<body>
{{include reports/reportbody.tmpl}}
</body>