
















<head>
	<script src="/report.js" type="text/javascript"></script>
<script>
$(function() {
	var record = initialiseReport('!{{Record}}', function(row) {
		if(!row || !row.recordId || !row.recordId.idMember)
			return false;
		goto('/members/detail.html?id=' + row.recordId.idMember);
	});
});
</script>
</head>
<body>
{{include reports/reportbody.tmpl}}
</body>