<div id="reportDates"></div>
<table id="report"></table>
<div id="settingsDialog" title="Report Settings">
	<table id="settings">
		<tr>
			<td colspan="2">
				<table id="names"></table>
			</td>
		</tr>
		<tr>
			<td>
				<div class="title">Fields</div>
				<table id="fields"></table>
			</td>
			<td>
				<div class="title">Filters</div>
				<table id="filters"></table>
				<div class="title">Sorting</div>
				<table id="sorting"></table>
			</td>
		</tr>
	</table>
</div>
