
















<head>
	<style>
		.total {
			font-weight: bold;
		}
	</style>
	<script src="/report.js" type="text/javascript"></script>
<script>
$(function() {
	initialiseReport('!{{Record}}', function(row, record) {
		if(!row || !row.recordId || !row.recordId.idAccount)
			return false;
		postReportSettings('journals', record.settings, {
			Account: [row.recordId.idAccount]
		});
	});
});
</script>
</head>
<body>
{{include reports/reportbody.tmpl}}
</body>