
















<head>
	<script src="/report{{VersionSuffix}}.js" type="text/javascript"></script>
<script>
$(function() {
	var record = initialiseReport('!{{Record}}', function(row) {
		if(!row || !row.recordId || !row.recordId.idUser)
			return false;
		goto('/admin/edituser.html?id=' + row.recordId.idUser);
	});
});
</script>
</head>
<body>
{{include reports/reportbody.tmpl}}
</body>