
















<head>
	<script src="/report{{VersionSuffix}}.js" type="text/javascript"></script>
<script>
$(function() {
	var record = initialiseReport('!{{Record}}', function(row) {
		if(!row || !row.recordId || !row.recordId.idVatCode)
			return false;
		goto('/customer/vatcode.html?id=' + row.recordId.idVatCode);
	});
});
</script>
</head>
<body>
{{include reports/reportbody.tmpl}}
</body>